# Code functionality
numpy==1.18.2
pandas==0.25.3
openpyxl==3.0.3
# click==7.1.1

# Packaging
setuptools==46.1.3
wheel==0.34.2

# Testing and continuous integration
pytest==5.0.1
pytest-azurepipelines==0.8.0
